<!-- app/views/shared/_navbar.html.erb -->

<nav class="container-fluid">
  <ul>
    <li><strong><%= link_to 'RailsJobPlataform', root_path %></strong></li>
  </ul>
  <ul>
    <li><%= link_to 'Jobs', job_offers_path %></li>
    <li><%= link_to 'My applications', applications_path %></li>
    <li><%= link_to 'Creat New Job', new_job_offer_path %></li>
    
    <li>
      <details class="dropdown">
        <summary>
       Profile

        </summary>
        <ul dir="rtl">
       <% if user_signed_in? %>
        <li><%= link_to 'Perfil', edit_user_registration_path %></li>
        <li>
          <%= button_to 'Log Out', destroy_user_session_path,claass: "secondary", method: :delete, data: { confirm: '¿Estás seguro de que quieres cerrar sesión?' } %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Log In', new_user_session_path, class: 'auth-button' %>
        </li>
      <% end %>
        </ul>
      </details>
    </li>
  </ul>
</nav

   


